.container {
    text-align: center;
    margin: 50px 0;
  }
  
  .sectionTitle {
    font-size: 42px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: -140px;
  }
  
  .projectList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 80px;
    justify-items: center;
  }
  
  .projectCard {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .projectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .projectImage {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .projectInfo h3 {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .projectInfo p {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 15px;
  }
  
  .projectInfo a {
    color: var(--btn-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
  }
  
  .projectInfo a:hover {
    text-decoration: underline;
  }

  .desenvolvimento {
    color: rgb(255, 182, 182);
  }
  
  @media (min-width: 800px) {
    .projectCard {
      width: 300px;
    }
  }

  @media (width >= 1400px) {
    .sectionTitle {
      margin-top: -250px;
    }

    .projectList {
      gap: 10px;
    }
  }

  @media (width > 580px) and ( width < 800px) {
    .projectList {
      grid-template-columns: 1fr;
      gap: 20px;
      justify-items: center;
    }
  }

  @media (min-width: 400px) and (max-width: 800px) {
    .projectList {
      grid-template-columns: 1fr;
      gap: 20px;
      justify-items: center;
    }
  }

  @media (min-width: 0px) and (max-width: 399px) {
    .projectList {
      grid-template-columns: 1fr;
      gap: 20px;
      justify-items: center;
    }

    .sectionTitle {
      font-size: 32px;
      margin-top: -90px;
    }
  }
